h1{
  font-size: 30px;
  font-family: Yu Gothic;
  font-weight: bold;
  text-align: center;
}

p{
  font-size: 15px;
  font-family: Yu Gothic;
  font-weight: bold;
  line-height: 4em;
  text-align: center;
}

div{
  text-align: center;
}

header {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: #4fc4b3;
}

header .headline{
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
