/*フォント、文字サイズ、中央ぞろえ*/
body{
  text-align: center;
  font-family: "Yu Gothic";
  font-weight: Bold:
}

h1{
  font-size: 30px;
  padding: 15px;
  font-weight: Bold:
}

p{
  font-size: 15px;
  line-height: 3em;
  font-weight: Bold:
}

/*ヘッダー*/
header {
  padding: 15px;
  width: 100%;
  margin: 0 auto;
}

.nav-list {
  padding: 10px;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
