/*フォント、文字サイズ、中央ぞろえ*/
*{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体";
  /*禁則処理*/
  word-break: keep-all;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
  --primary-deep:#4e7682;
  --primary-light:#eaf7fb;
  --theme-color:#8daeb8;
  --white:#ffffff;
  --black:#333333;
  
  color:var(--black);
}

body{
  margin:0px;
  background-color:var(--white);
}

h1{
  font-size: 30px;
  font-weight: 700;
  margin:0px;
}

h1:not(.header-title) {
  padding-left: 10px;
  border-left: double 9px var(--primary-deep);
}

p{
  font-size: 17px;
  line-height: 3em;
  margin:0px;
  padding:1.5em 0px;
}

a{
  color:var(--primary-deep);
  text-decoration:none;
}

a:hover {
  color:var(--black);
}

.wrapper{
  margin:0 auto;
  width:35em;
  padding:15px;
}

@media screen and (max-width:37em){
  .wrapper{
    width:calc(100% - 30px);
  }
}

/*ヘッダー*/
header {
  width: 100%;
  text-align:center;
  background-color:var(--primary-light);
  padding:20px 0px;
}

.nav-list {
  font-size:17px;
  padding:0px;
  margin: 10px 0px 0px 0px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/*フッター*/
footer{
  background-color:var(--primary-light);
  text-align:center;
}

/*反転した時の文字色*/
::selection {
  background: var(--theme-color);
  color: var(--white);
}

/*プロジェクト画像の角丸、マウスホバー時のアニメーション*/
.projects img{
  border-radius: 6px;
  width:70%;
  transition: all 0.3s ease 0s;
}
.projects :hover img{
  opacity: 0.8;
}

/*カクカクアニメーション*/
.kakukaku {
  display: inline-block;
  animation: kakukaku .1s infinite;
  animation-timing-function:steps(2);
  animation-duration:1s;
}

@keyframes kakukaku {
  0% {transform: translate(0px, 0px)}
  100% {transform: translate(50px, 0px)}
}
